<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wk.wildvso.com.twentyonetrening">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".WorkOut"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">

        <meta-data android:name="DATABASE" android:value="work_out_database_30_loss.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="wk.wildvso.com.twentyonetrening" />

        <activity android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivitiesPartOfBody.ActivityListOfExGroups"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ActivitiesPartOfBody.ActivityListOfEx"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ActivitiesPartOfBody.ActivityExDetail"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ActivitiesProgramm.ActivityListOfTraining"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ActivitiesProgramm.ActivityWithTiles"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ActivitiesArticles.ActivityDetailAcrticles"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>